.colorbar {
	@include clearfix;

	&__f,
	&__l,
	&__i,
	&__k {
		float: left;
		height: 1px;
		content: "";
		width: 25%;
		display: inline-block;
	}

	&__f {
		background: $red;
	}

	&__l {
		background: $yellow;
	}

	&__i {
		background: $blue;
	}

	&__k {
		background: $green;
	}
}