.featured-flik-flag {
	position: absolute;
	background: $black;
	padding: em(2px, 16px) em(5px, 16px) em(4px, 16px);
	left: em(-9px, 16px);
	top: em(4px, 16px);
	border: 1px solid $white;

	&__star {
		width: em(13px, 16px);
		fill: $yellow;
	}

	&:before {
		position: absolute;
		bottom: em(-8px, 16px);
		left: 0;
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 0 em(7px, 16px) em(7px, 16px) 0;
		border-right-color: $black;
		border-bottom-color: $white;
	}
}