&__main {

	&__headline {
		margin: em(20px, 16px);
		text-align: center;
		font-size: $font-size-x-large;
		letter-spacing: -0.01em;
		font-weight: $normal;

		@include bp-sm2 {
			font-size: $font-size-xx-large;
		}		
	}

	&__featured-item {
		border-bottom: 1px solid $gray-medium;

		&__link {
			display: table;
  			width: 100%;
		}

		&__img-container,
		&__content-container {
			display: table-cell;
		}

		&__img-container {
			width: 30%;
			height: 100%;
			content: "";
		}

		&__content-container {
			padding: em(20px, 16px);
			width: 70%;
			line-height: 1.4em;
			font-size: $font-size-regular;
		}

		&__headline,
		&__date-location,
		&__presented-by {
			color: $gray-dark;
		}

		&__headline {
			padding-bottom: em(12px, 16px);
			display: block;
		}

		&__presented-by {
			color: $gray-medium;
			padding-bottom: em(12px, 16px);
		}
	}
}


// Featured Events

// Patterns
@mixin img-container-bg {
	background-size: cover;
	background-position: center top;
}

.sam-smith {
	background: url(../images/page--home/sam-smith.png);
	@include img-container-bg;
}

.paul-rogers {
	background: url(../images/page--home/paul-rogers.png);
	@include img-container-bg;
}

.ricky-martin {
	background: url(../images/page--home/ricky-martin.png);
	@include img-container-bg;
}