&__main {
	@include page-min-width;
	background: $gray-light;

	&__inner {
		@include page-max-width;
	}

	&__headline {
		padding: em(20px, 16px) em(20px, 16px) em(15px, 16px);
		text-align: center;
		font-size: $font-size-x-large;
		letter-spacing: -0.01em;
		font-weight: $normal;

		@include bp-sm {
			padding-bottom: em(10px, 16px);
		}

		@include bp-sm2 {
			font-size: $font-size-xx-large;
		}
	}

	&__featured-list {
		padding-bottom: em(40px, 16px);
	}

	&__featured-item {
		margin: em(10px, 16px);
		background: $white;
		border: 2px solid $gray-light;

		&:hover {
			border: 2px solid $black;
		}

		@include bp-sm {
			margin: em(20px, 16px);
			max-width: em(768px, 16px);
		}

		@include bp-md {
			margin: em(20px, 16px) auto;
		}		

		&__link {
			display: table;
  			width: 100%;
		}

		&__img-container,
		&__content-container {
			display: table-cell;
		}

		&__img-container {
			width: 30%;
			height: 100%;
			content: "";
		}

		&__content-container {
			padding: em(16px, 16px) 0 em(16px, 16px) em(20px, 16px);
			width: 70%;
			line-height: 1.4em;
			font-size: $font-size-regular;

			@include bp-sm2 {
				padding: em(30px, 16px);
			}
		}

		&__headline,
		&__date-location,
		&__presented-by {
			color: $gray-dark;
			font-weight: $normal;
		}

		&__headline {
			padding-bottom: em(12px, 16px);
			display: block;

			@include bp-sm {
				font-size: $font-size-large;
			}

			@include bp-sm2 {
				font-size: $font-size-x-large;
			}
		}

		&__presented-by {
			color: $gray-medium;
			padding-bottom: em(12px, 16px);
		}

		&__num-of-fliks {

			@include bp-sm2 {
				font-size: $font-size-large;
				padding: em(16px, 16px) 0 0;
			}
		}
	}
}


// Featured Events

// Patterns
@mixin img-container-bg {
	background-size: cover;
	background-position: center top;
}

.sam-smith {
	background: url(../images/page--home/sam-smith.png);
	@include img-container-bg;
}

.paul-rogers {
	background: url(../images/page--home/paul-rogers.png);
	@include img-container-bg;
}

.ricky-martin {
	background: url(../images/page--home/ricky-martin.png);
	@include img-container-bg;
}