&__main {
	@include page-min-width;
	padding: 0 em(20px, 16px);

	&__inner {
		max-width: $bp-sm2;
		margin: 0 auto;
		line-height: 1.3em;
	}

	&__header {
		line-height: 1.3em;
		padding: em(40px, 16px) 0;
	}

	&__section {
		margin: em(30px, 16px) 0;
	}
}

&__rules-list--primary {
	margin: 0 0 em(10px, 16px);
}

&__rules-item--primary {
	margin: em(20px, 16px) 0;
	font-size: $font-size-x-large;
	text-align: center;

	@include bp-sm2 {
		font-weight: $normal;
		font-size: $font-size-xx-large;
	}	
}

&__guidelines-below {
	padding: 0 0 em(20px, 16px);
	font-style: italic;
}

&__headline--secondary {
	font-size: $font-size-x-large;
	margin: 0 0 em(10px, 16px);
	font-weight: $normal;
	line-height: 1.2em;
}

&__rules-list--secondary {
	margin: em(10px, 16px) 0 em(10px, 16px) 0;
}

&__rules-item--secondary {
	padding: 0 0 em(20px, 16px);
}

&__signature {
	display: block;
	margin: 0 0 em(80px, 16px) 0;
}