$white: #fff;
$black: #000;

$blue: #26addc;			// Links, logo - i
$red: #CC0000;			// logo - F
$yellow: #DFC60A;		// logo - l
$green: #5EA808;		// logo - k

// Gray values
$gray-dark: #333;		// dark gray (default text color)


// ERRORS AND NOTICES
