$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-x-large: 26px;
$font-size-xx-large: 36px;
$font-size-xxx-large: 48px;