$font-size-x-small: 0.625em; // 10px
$font-size-small: 0.75em; // 12px
$font-size-regular: 0.875em; // 14px
$font-size-medium: 1em; // 16px
$font-size-large: 1.125em; // 18px
$font-size-x-large: 1.625em; // 26px
$font-size-xx-large: 2.25em; // 36px
$font-size-xxx-large: 3em; // 48px