@mixin links {
	color: $blue;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
	background: transparent;
    
    &:hover,
    &:focus {
        color: darken($blue, 8%);
    }
}

@mixin links-svg {
	fill: $blue;
    
    &:hover,
    &:focus {
        fill: darken($blue, 8%);
    }
}