@mixin bp-min {
	@media screen and (min-width: $bp-min) { @content; }
}

@mixin bp-sm {
	@media screen and (min-width: $bp-sm) { @content; }
}

@mixin bp-sm2 {
	@media screen and (min-width: $bp-sm2) { @content; }
}

@mixin bp-md {
	@media screen and (min-width: $bp-md) { @content; }
}

@mixin bp-md2 {
	@media screen and (min-width: $bp-md2) { @content; }
}

@mixin bp-max {
	@media screen and (min-width: $bp-max) { @content; }
}


// PRINT

@mixin print {
  	@media print { @content; }
}


//Breakpoints
	$bp-min : 20em; 	// 320px
	$bp-sm : 30em; 		// 480px
	$bp-sm2 : 38.75em; 	// 620px
	$bp-md : 48em; 		// 768px
	$bp-md2 : 61.25em; 	// 980px
	$bp-max : 64em; 	// 1024px


// .hide-small {
//     @media all and (max-width: $bp-med) {
//         display: none;
//     }
// }

// .hide-med {
//     @media all and (min-width: $bp-med) and (max-width: $bp-large) {
//         display: none;
//     }
// }

// .hide-large {
//     @media all and (min-width: $bp-large) {
//         display: none;
//     }
// }