&__timeline {
	margin-top: em(36px, 16px);

	@include bp-max {
		margin-top: em(44px, 16px);
	}

	&__headline {
		font-size: em(20px, 16px);
		font-weight: normal;
		text-align: center;
		letter-spacing: -0.02em;
		margin-bottom: em(20px, 16px);

		@include bp-sm {
			font-size: em(24px, 16px);
		}

		@include bp-md {
			font-size: em(32px, 16px);
		}

		&__total {
			font-weight: $extra-bold;
		}
	}

	&__video-list {
		@include clearfix;
		width: em(300px, 16px);
		margin: 0 auto;

		@include bp-sm2 {
			width: em(620px, 16px);
		}

		@include bp-md2 {
			width: em(940px, 16px);
		}
	}

	&__video-item {
		float: left;
		width: em(300px, 16px);
		display: block;
		margin-bottom: em(20px, 16px);

		@include bp-sm2 {
			&:nth-child(2n+2) {
				margin-left: em(20px, 16px);
			}
		}

		@include bp-md2 {
			& + & {
				margin-left: em(20px, 16px);
			}

			&:nth-child(4) {
				margin-left: 0;
			}
		}	
	}
}